@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "utopiaSemiBold";
  src: url("/fonts/Utopia Semibold Italic.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

:root {
  --primary-color: #f2aa4cff;
}

h1 {
  font-family: "utopiaSemiBold";
  font-style: italic;
  font-weight: 600;
  font-size: 1.875rem;
  color: rgb(66 66 66);
  margin: 1.5rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "utopiaSemiBold";
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(66 66 66);
  margin: 1rem 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #4a4a4a;
  font-weight: 400;
  margin: 10px 0px;
  span {
    font-weight: 500;
  }
}

iframe {
  width: 100%;
  height: 315px;
  border-radius: 10px;
  margin: 10px 0px;
}

img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px 0px;
}

img:hover {
  transform: scale(0.98);
  opacity: 0.95;
}

.image-container {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
}

.image-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.group:hover .image-responsive img {
  transform: scale(1.05);
}
